@import './commun.css';

.settings-container {
    width: 80%;
    max-width: 600px;
    margin: 2rem auto;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    background: var(--bg-secondary);
    border-radius: 8px;
    box-shadow: 0 4px 15px var(--shadow-color);
}

select {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    background: var(--bg-secondary);
    color: var(--text-color);
}
